<div class="layout-dashboard">
    <div class="grid">
        <div class="col-12 md:col-4">
            <div class="card widget-overview-box widget-overview-box-2">
                <span class="overview-title">
                    HELLO CLEVERENT
                </span>
                <div class="flex justify-content-between">
                    <div class="overview-detail flex justify-content-between">
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/value.svg">
            </div>
        </div>
    </div>
</div>
