<div class="grid justify-content-center">
    <div class="col-12 md:col-12">
        <div class="card">
            <h5>Lista podmiotów</h5>
            <div class="grid">
                <div class="col-12"></div>
                <div class="col-1"></div>
                <div class="col-11 grid">
                    <div class="col-3 grid">
                        <div class="col-6 label">Ostatni upload listy:</div>
                        <div class="col-6">20-11-2022 08:47</div>
                        <div class="col-6 label">Liczba podiomtów:</div>
                        <div class="col-6">{{getSubjectsNumber()}}</div>
                        <div class="col-6 label">Upload nowej listy</div>
                        <div class="col-6">
                            <p-fileUpload mode="basic" name="subjects[]" url="./upload.php" accept=".csv"
                                maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <p-table [value]="filteredSubjects" responsiveLayout="scroll" *ngIf="subjects" [paginator]="true"
                        [rows]="10" [(selection)]="selectedSubcject" dataKey="id" selectionMode="single"
                        (onRowSelect)="onRowSelect($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div>Nazwa</div>
                                    <div class="flex">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input type="text" pInputText [(ngModel)]="nameFilter" placeholder="Search" 
                                            (input)="onFilter($event)"/>
                                        </span>
                                    </div>
                                </th>
                                <th>
                                    <div>NIP</div>
                                    <div class="flex">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input type="text" pInputText [(ngModel)]="nipFilter" placeholder="Search" 
                                            (input)="onFilter($event)"/>
                                        </span>
                                    </div>
                                </th>
                                <th>
                                    <div>Typ</div>
                                    <div class="flex">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input type="text" pInputText [(ngModel)]="typeFilter" placeholder="Search" 
                                            (input)="onFilter($event)"/>
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-subject>
                            <tr [pSelectableRow]="subject">
                                <td>{{subject.financialEntityName}}</td>
                                <td>{{subject.financialEntityNip}}</td>
                                <td>{{subject.financialEntityType}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-6">
                    <div class="card" *ngIf="selectedSubcject">
                        <p-fieldset legend="Weryfikacje AI bez weryfikacji manulanej">
                            <div class="col-12 grid">
                                <div class="col-8 label">Liczba weryfikacji AI bez manualnej:</div>
                                <div class="col-4">{{getAllNumber()}}</div>
                                <div class="col-8 label positive" (click)="onPositives()">Liczba pozytywnych weryfikacji AI:</div>
                                <div class="col-4 positive" (click)="onPositives()">{{getPositiveNumber()}}</div>
                                <div class="col-8 label negative" (click)="onNegatives()">Liczba negatywnych weryfikacji AI:</div>
                                <div class="col-4 negative" (click)="onNegatives()">{{geNegativeNumber()}}</div>
                            </div>
                        </p-fieldset>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>