<div class="grid justify-content-center">
    <div class="col-12 md:col-12">
        <div class="card">
            <h5>Lista podmiotów</h5>
            <div class="grid">
                <div class="col-1"></div>
                <div class="col-11 grid">
                    <div class="col-3 grid">
                        <div class="col-6 field">Ostatni upload listy:</div>
                        <div class="col-6">20-11-2022 08:47</div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6 field">Ilość podiomtów</div>
                        <div class="col-6">{{getSubjectsNumber()}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>