$primaryColor:#795548;
$primaryDarkColor:#5D4037;
$primaryLightColor:#A1887F;
$primaryLightestColor:#EFEBE9;
$primaryTextColor:#ffffff;
$accentColor:#E64A19;
$accentDarkColor: #E57373;
$accentLightColor: #4DD0E1;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';