<div class="grid justify-content-center">
    <div class="col-12 md:col-12">
        <div class="card">
            <h5>Alerty - posty bez weryfikacji manualnej</h5>

            <div class="grid">
                <div class="col-6">
                    <div class="panel">
                        <div class="col-12 panel-title">Opcje</div>
                        <div class="grid">
                            <div class="col-4 label">Wybierz podmiot</div>
                            <div class="col-8">
                                <p-dropdown [options]="subjects" [(ngModel)]="selectedSubject"
                                    optionLabel="financialEntityName" optionValue="id"
                                     filter="true" filterBy="financialEntityName"
                                    (onChange)="onChangeSubject($event)"></p-dropdown>
                            </div>
                        </div>
                    </div>

                    <p-table [value]="posts" responsiveLayout="scroll" *ngIf="posts" [paginator]="true"
                            [rows]="10" [(selection)]="selectedPost" dataKey="id" selectionMode="single"
                            >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Data publikacji posta</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-post>
                                <tr [pSelectableRow]="post">
                                    <td>{{post.postCreatedDate}}</td>
                                </tr>
                            </ng-template>
                   </p-table>
                </div>
                <div class="col-1"></div>
                <div class="col-5 grid">
                    <div class="col-12 right-panel grid" *ngIf="selectedPost">
                        <div class="col-12">
                            <img src="getImageUrl()" alt="image">
                        </div>
                        <div class="col-4 label">Data:</div>
                        <div class="col-8">{{selectedPost.postCreatedDate}}</div>
                        <div class="col-4 label">Status AI:</div>
                        <div class="col-8 positive" *ngIf="selectedPost.autoVerification">Zgodny</div>
                        <div class="col-8 negative" *ngIf="!selectedPost.autoVerification">Niezgodny</div>
                        <div class="col-4 label">Znalezione frazy:</div>
                        <div class="col-8">{{selectedPost.reason}}</div>
                        <div class="col-4 label">Wybierz status manualny:</div>
                        <div class="col-8">
                            <p-inputSwitch (onChange)="onChange($event)" [(ngModel)]="selectedPost.manualVerification"></p-inputSwitch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>